Advanced Set 06/06/2020

In [16]:
"""
Let's start by creating a set.
remember  that a sat cannot have duplicated values
"""
s = set()
s.add(1) #.add() is the methods that we use to add things to a set
s.add(2)
s

{1, 2}

In [17]:
s.add(1)
s #nothing changed

{1, 2}

In [18]:
#the opposite of .add() is .remove() which removes all the elements
s.remove(1) #as arguments we write the value to remove
s

{2}

In [19]:
#.clear()
s = {1,2,3,4,5,6}
s

{1, 2, 3, 4, 5, 6}

In [22]:
s.clear() #remove all the elements
s

set()

In [28]:
#.copy()
s = {1,2,3,4,5,6}
s_copy = s.copy() #copy and the paste the elements. Remember that changes to the original set DO NOT affect the copy

In [29]:
print(s)
print(s_copy)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [32]:
#.difference()
s.add(32) #we start with s and s_copy = {1,2,3,4,5,6}
#s = {1,2,3,4,5,6,32}
s.difference(s_copy) #return the values that are not in s_copy

{32}

In [36]:
#.difference_update() is an evolution of .difference
#this function return only the differences by removing tha couples
s = {1,2,3,4,5,6}
s_copy = {1,3,4,7,8}
s.difference_update(s_copy)
s #1,3 and 4 got removed

{2, 5, 6}

In [41]:
#.discard() it's similar to .remove()
"""
if you discard a value that doesn't exist nothing will happen.
if you use .remone for nothing you'll get an error
"""
s.discard(2) 
s

{5, 6}

In [45]:
#.intersection()
s1 = {1,2,3,4,5}
s2 = {2,4,5}
s1.intersection(s2) #return only the values that are both in different set. s1 won't change

{2, 4, 5}

In [46]:
#.intersection.update()
"""
.intesection() where the object changes his values
"""
s1 = {1,2,3,4,5}
s2 = {2,4,5}
s1.intersection_update(s2)

In [51]:
print(s1) #s1 contains only the values that are inside s2
print(s2) #also s2 changed

{2, 4, 5}
{2, 4, 5}

In [60]:
#.isdisjoint()
"""
return True if there is no intersection between 2 sets
"""
s_1 = {1,2}
s_2 = {1,2,4}
s_3 = {5}

In [61]:
s_1.isdisjoint(s_2) #false because there is an intersection between the s_1 and s_2 sets

False

In [62]:
s_1.isdisjoint(s_3) #True because there is Null intersection

True

In [67]:
#.issubeset() and .issuperset()
"""
.issubset() return True if there is a set that contains all the data of the parameters
.issuperset() is the opposite
"""
s1 = {1,2,3,4,5}
s2 = {1,2,3,4,5,6,7,8,9}
print(s2.issuperset(s1)) #True because s2 conatins all the values of s1 
print(s1.issubset(s2)) #s1's data are all stored in s2

True
True

In [70]:
#.symmetric_difference() is the opposit of .intersection()
"""
return the value that are different between the two sets
"""
s1= {1,2,3,4,5}
s2 = {1,2,4,6}
s1.symmetric_difference(s2) #3,5 are only in s1. 6 in s2

{3, 5, 6}

In [74]:
#as intersaction there is .symmetric_difference_update()
s1.symmetric_difference_update(s2)
print(s1) #s1 becomes the values that there are as difference in s1 and s2

{3, 5, 6}

In [78]:
#.union()
"""
'sum' all the values of two sets
"""
s1 = {1,2}
s2 = {1,4,5}
s1.union(s2)

{1, 2, 4, 5}

In [84]:
#.update()
"""
return the update of union 
"""
print(s1)
print(s2)
s1.update(s2)
s1 #s1 becomes s1.union(s2)

{1, 2, 4, 5}
{1, 4, 5}

{1, 2, 4, 5}

In [92]:
#.pop()
"""
pop the first value and remove it from the set
"""
s1 = {1,2,3,4,5}
s1.pop() #no parameters

1

In [93]:
s1

{2, 3, 4, 5}