Review other arguments 13/06/2020

In [62]:
#enumerate()
"""
Allows us to give a counter to an iterable element. In this case it return a tuble (counter(0),"a") (counter(1),"b")
"""
l = ["a","b","c","d","e"] #this works with iterables

In [54]:
for x in l:
    print(x)
count = 0
for x in l:
    print(count,x)
    count +=1

a
b
c
d
e
0 a
1 b
2 c
3 d
4 e

In [55]:
for x in enumerate(l):
    print(x)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [56]:
#as default it starts from 0, but you can write an optional value as second parameter
print(list(enumerate(l,22)))

[(22, 'a'), (23, 'b'), (24, 'c'), (25, 'd'), (26, 'e')]

In [57]:
type(x) #this is now a tuple

tuple

In [58]:
#we can count without having a counter var. Remember it starts from 0 as default
for x in enumerate(l): 
    if x[0] == 2: #if the counter is 2: break. You can also write if 2 in x: break
        break
    else:
        print(x)

(0, 'a')
(1, 'b')

In [59]:
#it doesn't work only in for loops
enumerated_l = enumerate(l)
print(list(enumerated_l))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [60]:
enumerated_l = enumerate(l,1)
print(dict(enumerated_l))

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [71]:
#all() and any()
"""
all() works with booleans and return True if all the elements in an iterable are True (1==1,"a"=="a"). -> False
any() return True if there is at least one element that is True (1!=1,"a"=="a") -> True

"""
l =  [1==1,2!=1,3=="a",4=="4",5==5,6<3] #this works with iterables with boolean values

False

In [73]:
all(l)

False

In [74]:
any(l)

True

In [75]:
all([1==1,2==2,"a"=="a","Carlo"=="carlo".capitalize()]) #every element return True -> True

True

In [76]:
any([1!=1,3==2,"a"=="f","Carlo"=="carlo"]) #every element return False -> False

False

In [87]:
#complex()
"""
Transform a string or a number in a complex number.
Complex numbers are used in real life application. At first I've found them useless
"""
complex(13) #we have to parameters: our number and the imaginary which is 0 as default

(13+0j)

In [89]:
complex(13,32) #we can set it as second param

(13+32j)

In [94]:
complex("213+23j") #this func accepts also strings. If we use strings there is no 2nd parameter and we can provide our imaginary in the same string

(213+23j)